body {
    background:"assets/images/background.png";
}
.heading {
    color:#4aaaa5;
    width: 955px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    margin-bottom: 20px;
}
p {
    font-size: 22px;
    line-height: 1.8;
}
.borderleft {
    border-left: solid;
    border-color: gray;
    top: 50%;
}
.borderright {
    border-right: solid;
    border-color: gray;
    border-width: 1px;
    border-right: 50%;
}
.moveleft {
    float: left;
    width: 225px;
}
.moveright {
    float: right;
    width: 715px;
    margin-right: 10px;
}
.content {
    background-color: white;
    width: 960px;
    height: 500px;
    margin:0 auto;
    padding: 20px 20px;
}
.navbar {
    width: 100%;
    align-content: center;
    overflow:hidden;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    background: white;
    margin-bottom: 20px;
}
.navbar a {
    float:left;
    text-align:center;
    padding: 40px 15px;
    font-size: 20px;
}
.navlinks {
    float: left;
    /*margin-left: 600px;*/
    /*margin-left: 5%;*/
}
.navbar h1 {
    float:left;
    text-align:center;
    margin-left: 25%;
    margin-right: 450px;
    background: #4aaaa5;
    color: white;
    padding: 20px;
    align-self: bottom;
}
.footer {
    height: 50px;
    padding-bottom: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(43, 41, 41, 0.911);
    color: white;
    text-align: center;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 15px;
}
/*
.clearfix::after {
    content: "";
    display: block;
    clear: both;
*/