body {
    background:"assets/images/background.png";
}
h1 {
    font-size: 32px;
}
.heading {
    color:#4aaaa5;
    width: 955px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    border-bottom-width: 2px;
    margin-bottom: 20px;
}
p {
    font-size: 22px;
    line-height: 1.8;
}
.borderleft {
    border-left: solid;
    border-color: gray;
}
.borderright {
    border-right: solid;
    border-color: gray;
    border-width: 1px;
}
.moveleft {
    float: left;
    width: 225px;
}
.moveright {
    float: right;
    width: 715px;
    margin-right: 10px;
}
.content {
    background-color: #ffffff;
    width: 960px;
    height: 500px;
    margin:0 auto;
    padding: 20px 20px;
}
.navbar {
    width: 100%;
    margin: auto;
    align-content: center;
    overflow:hidden;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    background: white;
    margin-bottom: 20px;
}
.navbar a {
    float:left;
    text-align:center;
    margin: 35px 0;
    font-size: 20px;
    padding: 0 10px;
}
.navlinks {
    float: left;
}
.navbar h1 {
    float:left;
    text-align:center;
    margin-left: 25%;
    margin-right: 450px;
    background: #4aaaa5;
    color: white;
    padding: 20px;
    margin-top: 28px;
}
.footer {
    height: 50px;
    padding-bottom: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 8px;
}
.textform {
    padding: 10px 5px;
    border-style: inset;
    border-color: gray;
    border-radius: 5px;
    border-width: 1px;
}
textarea {
    padding: 5px 5px;
    border-radius: 5px;
}
button {
    background-color: #4aaaa5;
    height: 35px;
    width: 115px;
    color: white;
    border-style: solid;
    border-radius: 5px;
}
/*.bigtextform {
    padding: 10px 5px;
    width: 900px;
    height: 225px;
    border-style: inset;
    border-color: gray;
    border-width: 1px; 
    border-radius: 5px;
}*/
/*
.clearfix::after {
    content: "";
    display: block;
    clear: both;
*/